@model BookingSystem.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberFullPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberFullPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberConcessionPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberConcessionPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StoreEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StoreEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
    </dl>
    <a asp-controller="Seats" asp-action="Create">Select seats</a>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
