@model IEnumerable<BookingSystem.Models.Performances>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

 

<p>
    @if (SignInManager.IsSignedIn(User))
        {
            <a asp-action="Create">Create New</a>
        }
    
    @*@if (SignInManager.IsSignedIn(User))
    {
        
    }*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShowId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
               
            </th>
            <th></th>
        </tr> 
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShowId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
                7.30pm
            </td>
            @if (SignInManager.IsSignedIn(User))
            {
                <td>


                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>

            }
            else
            {

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Choose</a>
                </td>
            }

        </tr>
        }
    </tbody>
</table>
