@model BookingSystem.DTO.BookingSystemDTO
@using BookingSystem.DTO
@using BookingSystem.Operations;

@{
    ViewData["Title"] = "Details";
}

<h3>Details</h3>

@foreach (var booking in Model.bookings)
{
    if (Booking.Id == DatabaseManager.BookingId)
    {
        @Html.DisplayFor(modelItem => Booking.Name)
            

    }


<div>
    <h4>Seat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mySeat.BookingId)
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model.mySeat.BookingId)
        </dd>

    <dt>
        @Html.DisplayNameFor(model => model.myBooking.Name)
    </dt>
        
    
        
        
        @*<dd>
            @Html.DisplayFor(model => model.myBooking.Name)
        </dd>*@
        <dt>
            @Html.DisplayFor(model => model.mySeat.BookingId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mySeat.BookingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mySeat.SeatNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mySeat.SeatNumber)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.mySeat.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
